---
---
// Color Variables, Breakpoints, utils and components
@import "components/variables";
@import "components/columns";
@import "components/navbar";
@import "components/home-page";
@import "components/about-page";
@import "components/services-page";
@import "components/space-page";
@import "components/contact-page";
@import "components/social-links";
@import "components/text";
@import "components/text-card";
@import "components/button";
@import "components/underline";
@import "components/slick-slider";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.color { @include colors("color") }

.hr {
  height: 3px;
  width: 50px;
  border: none;
  margin-left: 0;

  @include colors("background-color");
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
