@import "variables";

.about-page {
  height: 100vh;
  color: $black;

  // Elements
  &__text {
    @include breakpoint("medium-up") { max-width: 70%; }
  }

  &__inner {
    padding: 25px;
    min-height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include breakpoint("medium-up") { padding-left: 155px; }
  }

  &__content {
    height: 80%;
    position: relative;
    padding: 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint("limiter");
    @include breakpoint("medium-up") { padding: 0 0 0 130px }
  }
}
