@import "variables";

.title {
  @include colors("color");
}

.sunshine {
  font-family: sunshine;
  font-weight: lighter;
}

.subtitle {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

@include breakpoint("medium") {
  h1 {
    font-size: 6rem;
  }
}

@include breakpoint("large") {
  h1 {
    font-size: 7rem;
  }
}
